body{
  font-family:　Avenir Next;
  background-image: url(https://www.yakei-kabegami.com/storage/m000034_k00032841_1024-768.jpg);
background-size: cover;
}
a {
  text-decoration: none;
}
li{
  list-style: none;
}

.header{

height: 150px;
width: 100%;
}
.header-logo{
color: rgb(151, 245, 11);
text-align: center;
font-family: Latha;
font-size: 70px;
padding: 20px 0 10px 0;
border-bottom: 2px solid rgb(247, 20, 4);
}
.header-list{
  padding: 35px 0 0;
}

.header-list p{
  color: white;
  text-align: center;
  padding-bottom: 5%;
  padding-top: 3%;
  padding-left: 400px;
  padding-right: 400px;
  color: palegreen;
  font-size: 15px;
  font-weight: 100px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgba(206, 30, 230, 0.3);
  background-clip: content-box;
}
.header-list p:hover{
background-color:  rgba(255, 255, 255, 0.5);
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
}